/* A (ridiculously) simplified version of normalize.css */
html, body, div, h1, p {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin-bottom: 6px;
}

fieldset {
  padding: 24px;
  margin-bottom: 24px;
}

label {
  margin-left: 4px;
  margin-right: 16px;
}

.title {
  margin-bottom: 24px;
}

.content {
  flex: 1;
  padding: 16px;
}

.question {
  margin-bottom: 24px;
}
